.job{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 500px;
    height: 200px;
    border: 2px solid #bebebe;
    margin: 1rem;
    border-radius: 10px;
}
.texts{
    padding: 10px;
    font-size: 10px;
}
.logo{
    width: 130px;
    height: 130px;
}